body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

.logo {
  font-family: "Product Sans", "Capriola", sans-serif;
}

.result {
  margin-top: 2.25rem;
}
.result strong {
  /* text-transform: uppercase; */
  font-family: monospace;
  vertical-align: middle;
  opacity: 0.7;
  margin-right: 12px;
}

#autocomplete {
  font-family: Arial, Helvetica, sans-serif;
}